<form [formGroup]="menuForm" (ngSubmit)="onUpdate(menuForm.value)" novalidate>
  <h2>EDIT MENU</h2>
  <!-- <div>MenuName <input type="number" formControlName="id" /></div> -->

  <div formGroupName="details">
    <h4>Details</h4>
    <div>MenuName <input type="text" formControlName="menuName" /></div>
    <div>Quantity <input type="number" formControlName="quantity" /></div>
    <div>Price <input type="number" formControlName="price" /></div>
  </div>
  <div formGroupName="address">
    <h4>Address</h4>
    <div>City <input type="text" formControlName="city" /></div>
    <div>PinCode <input type="number" formControlName="pinCode" /></div>
  </div>
  <button type="submit" [disabled]="!menuForm.valid">UPDATE</button>
</form>
